// Fonts
// -----


$font-main: 	"Roboto";
$font-default: 	sans-serif;
$font-icon: 	"Icomoon";
$font-material: "materialIcon";


$font-stack: $font-main, $font-default;







// Text Size
// ---------


$tsize-main: 62.5%;






// Colours
// -------


$color-background: 	rgb(238,241,244);
$color-scorbit:		#3485E8;
$color-error:		#e74c3c;
$color-success:		$color-scorbit;
$color-pending:		#f39c12;