@font-face {
	src: url('icomoon.woff');
	font-family: "Icon";
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background: rgb(240,240,240);
	font-size: 62.5%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

header {
	height: 5em;
	position: fixed;
	background: rgb(50,163,230);
	width: 100%;
	-webkit-box-shadow: 0px 2px 0px rgba(200, 200, 200, 0.75);
	   -moz-box-shadow: 0px 2px 0px rgba(200, 200, 200, 0.75);
			box-shadow: 0px 2px 0px rgba(200, 200, 200, 0.75);
	z-index: 10;
}

.homehead {
	-webkit-transition: height 0.001s;
}

nav.headnav {
	height: 100%;
}

ul.headnav {
	margin-top: 0;
	height: 100%;
	padding: 0;
}

li.headnav {
	list-style: none;
	height: 100%;
	position: relative;
	float: left;
	text-align: center;
}

li a {
	text-decoration: none;
	color: rgb(49,136,217);
}

li.headnav:nth-child(1) {
	width: 20%;
	font-family: "Icon";
	font-size: 2.75em;
	color: /*rgb(49,136,217)*/ rgb(36,123,204);
	text-shadow: 0px -1px 0px rgb(26,118,194);
	line-height: 1.8em;
	text-align: left;
	padding-left: 5%;
}

li.headnav:nth-child(2) {
	width: 60%;
	font-family: "Avenir";
	font-size: 2em;
	color: rgb(240,240,240);
	line-height: 2.5em;
}

li.headnav:nth-child(3) {
	width: 20%;
	font-family: "Icon";
	font-size: 2.75em;
	color: /*rgb(49,136,217)*/ rgb(36,123,204);
	text-shadow: 0px -1px 0px rgb(26,118,194);
	line-height: 1.8em;
	text-align: right;
	padding-right: 5%;
}

li input {
	border: none;
	border: 1px solid rgb(230,230,230);
	font-family: "Avenir";
	color: rgb(60,60,60);
	width: 95%;
	display: block;
	margin: 0 auto;
	margin-left: -5%;
	margin-top: 0.5em;
	font-size: 1em;
	line-height: 2.25em;
	-webkit-appearance: none;
	border-radius: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

li.headnavopt {
	display: none;
	width: 100%;
	font-family: "Avenir";
	font-size: 1.75em;
	color: rgb(240,240,240);
	line-height: 2.5em;
	text-align: left;
	padding-left: 10%;
	z-index: 6;
}

.cancel {
	top: 100%;
	height: 75em;
	background: rgba(60,60,60,0.2);
	z-index: 5;
	position: absolute;
}

.feed {
	width: 100%;
	padding: 4%;
	position: relative;
	top: 5em;
	z-index: 2;
	padding-bottom: 5em;
}

.post {
	width: 100%;
	background: rgb(255,255,255);
	margin-bottom: 4%;
	padding: 2%;
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 0.75);
	   -moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 0.75);
			box-shadow: 0px 0px 2px rgba(150, 150, 150, 0.75);
}

.post a {
	text-decoration: none;
	color: rgb(114,180,229);
}

.stat .left {
	width: 22%;
	margin-right: 3%;
	position: relative;
	float: left;
}

.avatar {
	display: block;
	border: 2px solid rgb(230,230,230);
	height: 6em;
	width: 6em;
	border-radius: 3em;
	overflow: hidden;
}

.avatar a > img {
	width: 100%;
}

.avatar .titans img {
	width: 25%;
}

.stat .topright {
	position: relative;
	float: right;
	width: 100%;
	border-bottom: 1px solid rgb(230,230,230);
	padding-bottom: 1%;
	margin-bottom: 2%;
}

.stat .topright .user {
	display: block;
	position: relative;
	float: left;
	width: 50%; /* change this to 75% to make it only over the info and not avatar */
	text-align: left;
	font-family: "Avenir";
	font-size: 1.25em;
	font-weight: 200;
	color: rgba(60,60,60,0.5);
	line-height: 1.5em;
}


.stat .topright .official {
	display: block;
	position: relative;
	float: right;
	width: 45%;
	text-align: right;
}

.stat .topright .official img {
	height: 1.45em;
}

.stat .right {
	width: 75%;
	position: relative;
	float: left;
}

.stat .right h1, .stat .right h3 {
	margin: 0;
	position: relative;
	float: left;
	font-family: "Avenir";
}

.stat .right .user {
	display: block;
	width: 100%;
}

.stat .right h1 {
	font-size: 1.5em;
	font-weight: 900;
	font-style: italic;
	color: rgb(60,60,60);
	line-height: 1.25em;
}

.stat .right h3 {
	font-size: 1.25em;
	font-weight: 200;
	font-style: italic;
	color: rgba(60,60,60,0.5);
	line-height: 1.5em;
	margin-left: 2%;
}

.stat .right p {
	margin: 0;
	color: rgba(60,60,60);
	width: 100%;
	font-family: "Avenir";
	font-size: 1.5em;
	font-weight: 200;
	line-height: 1.35em;
	margin-top: 0.25em;
	margin-bottom: 0.05em;
}

.stat .right .assists {
	width: 100%;
	font-family: "Avenir";
	font-style: italic;
	font-size: 1.25em;
	color: rgba(60,60,60,0.5);
	margin-bottom: 0.25em;
	position: relative;
	float: left;
}

.stat .right .assist {
	height: 5em;
	width: 5em;
	display: block;
	position: relative;
	float: left;
	margin-right: 2%;
}

.game .topright {
	position: relative;
	float: right;
	width: 100%;
	border-bottom: 1px solid rgb(230,230,230);
	padding-bottom: 1%;
	margin-bottom: 2%;
}

.game .topright .user {
	display: block;
	position: relative;
	float: left;
	width: 50%; /* change this to 75% to make it only over the info and not avatar */
	text-align: left;
	font-family: "Avenir";
	font-size: 1.25em;
	font-weight: 200;
	color: rgba(60,60,60,0.5);
	line-height: 1.5em;
}


.game .topright .official {
	display: block;
	position: relative;
	float: right;
	width: 50%;
	text-align: right;
}

.game .topright .official img {
	height: 1.45em;
}

.game .left {
	width: 50%;
	position: relative;
	float: left;
	padding-right: 2%;
	padding-bottom: 2%;
}

.game .left h1, .game .left h3 {
	margin: 0;
	position: relative;
	float: left;
	font-family: "Avenir";
}

.game .left .score {
	position: relative;
	float: right;
	font-family: "Avenir";
	font-size: 5.5em;
	font-weight: 800;
	color: rgb(60,60,60);
	width: 1.25em;
	line-height: 1em;
	text-align: center;
}

.game .left .avatar {
	position: relative;
	float: left;
}

.game .left .user {
	display: block;
	position: relative;
	float: left;
}

.game .left h1 {
	font-size: 1.5em;
	font-weight: 900;
	font-style: italic;
	color: rgb(60,60,60);
	line-height: 1.25em;
}

.game .left h3 {
	font-size: 1.25em;
	font-weight: 200;
	font-style: italic;
	color: rgba(60,60,60,0.5);
	line-height: 1.5em;
}

.game .right {
	width: 50%;
	position: relative;
	float: left;
	padding-left: 2%;
	padding-bottom: 2%;
	border-left: 1px solid rgb(230,230,230);
}

.game .right h1, .game .right h3 {
	margin: 0;
	position: relative;
	float: right;
	font-family: "Avenir";
}

.game .right .score {
	position: relative;
	float: left;
	font-family: "Avenir";
	font-size: 5.5em;
	font-weight: 800;
	color: rgb(60,60,60);
	width: 1.25em;
	line-height: 1em;
	text-align: center;
}

.game .right .avatar {
	position: relative;
	float: right;
}

.game .right .user {
	display: block;
	position: relative;
	float: left;
}

.game .right h1 {
	font-size: 1.5em;
	font-weight: 900;
	font-style: italic;
	color: rgb(60,60,60);
	line-height: 1.25em;
	text-align: right;
}

.game .right h3 {
	font-size: 1.25em;
	font-weight: 200;
	font-style: italic;
	color: rgba(60,60,60,0.5);
	line-height: 1.5em;
	text-align: right;
}

.game .bottom {
	border-top: 1px solid rgb(230,230,230);
	width: 100%;
	position: relative;
	float: left;
}

.game .bottom .time {
	display: block;
	font-size: 1.5em;
	font-weight: 200;
	font-family: "Avenir";
	color: rgba(60,60,60,0.5);
	line-height: 1.5em;
	text-align: center;
	padding-top: 2%;
}

/* ---------===========----------- Profile */

.profile {
	width: 100%;
	position: relative;
	top: 5em;
	z-index: 2;
}

.cover {
	height: 20em;
	width: 100%;
	background-image: url('../images/coverphoto.jpeg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.cover .avatar {
	height: 8em;
	width: 8em;
	border-radius: 4em;
	position: relative;
	top: 3em;
	left: 50%;
	margin-left: -4em;
}

.cover .user {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 4em;
}

.cover .user h1, .cover .user h3 {
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
}

.cover .user h1 {
	font-family: "Avenir";
	font-size: 2em;
	font-weight: 900;
	color: rgba(255,255,255,1.0);
	line-height: 1.25em;
}

.cover .user h3 {
	font-family: "Avenir";
	font-size: 1.5em;
	font-weight: 200;
	font-style: italic;
	color: rgba(255,255,255,0.5);
	line-height: 1.5em;
}

.info {
	width: 100%;
}

nav.profilenav {
	width: 100%;
	padding: 0;
	background: rgb(255,255,255);
	z-index: 10;
	-webkit-box-shadow: 0px 1px 0px rgba(200, 200, 200, 0.75);
	   -moz-box-shadow: 0px 1px 0px rgba(200, 200, 200, 0.75);
			box-shadow: 0px 1px 0px rgba(200, 200, 200, 0.75);
}

ul.profilenav {
	margin: 0;
	padding: 0;
	width: 80%;
	display: block;
	margin: 0 auto;
}

li.profilenav {
	font-family: "Avenir";
	font-size: 1.5em;
	color: rgba(60,60,60,0.9);
	text-align: center;
	list-style: none;
	width: 33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
	position: relative;
	float: left;
	padding: 0% 6%;
}

li.profilenav a {
	display: block;
	height: 100%;
	width: intrinsic;
	text-decoration: none;
	padding: 18% 10%;
	color: rgba(60,60,60,0.9);
}

.active {
	border-bottom: 2px solid rgb(50,163,230);
	font-weight: 800;
}

.profile .feed {
	top: 0;
	z-index: 2;
}

.profile .about, .profile .posts {
	width: 100%;
	padding: 4%;
	position: relative;
	z-index: 2;
}

.about .section {
	margin-bottom: 4%;
}

.about .section h1  {
	margin: 0;
	font-family: "Avenir";
	font-size: 1.5em;
	font-weight: 100;
	color: rgba(60,60,60,0.5);
	margin-bottom: 2%;
}

.about .piece {
	border-left: 4px solid rgb(50,163,230);
	margin-bottom: 0;
	font-family: "Avenir";
	font-weight: 100;
	font-size: 1.5em;
	color: rgb(60,60,60);
}

.about .piece .left {
	position: relative;
	float: left;
	text-align: left;
	height: 70%;
	padding: 2%;
	max-width: 40%;
}

.about .piece .right {
	position: relative;
	float: right;
	text-align: right;
	height: 70%;
	padding: 2%;
	max-width: 60%;
}

.about .general .piece .left {
	color: rgba(60,60,60,0.5);
}

.about .assoc .piece .left {
	max-width: 82%;
	width: 82%;
}

.about .assoc .piece .right {
	width: 18%;
}

div[slide="1"] {
	position: absolute;
	z-index: 10;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	top: 0;
}

div[slide="2"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
}

.profile {
	background: rgb(240,240,240);
}

footer {
	width: 100%;
	position: fixed;
	z-index: 9;
	bottom: -100%;
	display: none;
	margin-bottom: -1px;
}

nav.statsnav {
	width: 100%;
	padding: 0;
	background: rgb(255,255,255);
	z-index: 10;
	height: 5em;
	-webkit-box-shadow: 0px -1px 0px rgba(200, 200, 200, 0.75);
	   -moz-box-shadow: 0px -1px 0px rgba(200, 200, 200, 0.75);
			box-shadow: 0px -1px 0px rgba(200, 200, 200, 0.75);
}

ul.statsnav {
	height: 100%;
	padding: 0;
}

li.statsnav {
	list-style: none;
	height: 100%;
	position: relative;
	float: left;
	text-align: center;
	font-family: "Avenir";
	font-size: 2em;
	padding: 2%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-weight: 800;
	color: rgb(60,60,60);
}

li.statsnav label {
	color: rgba(60,60,60,0.75);
	font-size: 0.05em;
	position: relative;
	top: 0;
	display: block;
}

li.statsnav .avatar {
	width: 2em;
	height: 2em;
	border-radius: 2em;
}

li.team {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

div[slide="0"] {
	position: fixed;
	z-index: 15;
	background: rgba(60,60,60,0.3);
	height: 100%;
	width: 100%;
	top: -100%;
	display: block;
}

div[slide="0"] section {
	background: rgb(240,240,240);
	position: absolute;
	width: 75%;
	border-radius: 2px;
}

ul.new {
	border: 1px solid red;
	padding: 0;
	margin: 0;
	border: 1px solid rgb(230,230,230);
	border-radius: 2px;
}

li.new {
	list-style: none;
	font-family: "Avenir";
	font-size: 2em;
	color: rgb(60,60,60);
	width: 100%;
	padding-left: 10%;
	padding-right: 25%;
	padding-top: 5%;
	padding-bottom: 5%;
}

li.top {
	border-top: 1px solid rgb(230,230,230);
}

div[slide="01"] {
	position: absolute;
	z-index: 5;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	top: 0;
	background: url('../images/background.png');
	background-repeat: none;
	background-size: 100%;
}

div[slide="01"] h1 {
	position: relative;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-family: "Myriad Pro";
	color: rgb(255,255,255);
	font-size: 5em;
	text-shadow: 0px -1px 0px rgb(0,112,179);
	top: 0.5em;
	font-weight: 900;
	font-family: "Avenir";
}

div[slide="01"] img {
	display: inline-block;
	margin: 0 auto;
	width: 30%;
	position: absolute;
	left: 50%;
	top: 54%;
	margin-left: -48px;
}

div[slide="01"] input[type="text"], div[slide="01"] input[type="email"], div[slide="01"] input[type="password"] {
	display: block;
	margin: 0 auto;
	-webkit-appearance: none;
	border-radius: 0;
	width: 90%;
	border: none;
	border-top: 1px solid rgb(230,230,230);
	border-left: 1px solid rgb(230,230,230);
	border-right: 1px solid rgb(230,230,230);
	color: rgb(120,120,120);
	font-size: 2em;
	font-family: "Avenir";
	font-weight: 500;
	font-size: 1.5em;
	padding: 0.75em 0.9em;
	outline: none;
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	top: 2.25em;
}

div[slide="01"] input[type="password"] {
	border-bottom: 1px solid rgb(230,230,230);
}

div[slide="01"] input[type="submit"] {
	display: block;
	width: 48%;
	background: rgb(240,240,240);
	color: rgb(120,120,120);
	border: none;
	color: rgb(120,120,120);
	font-size: 2em;
	font-family: "Avenir";
	font-weight: 500;
	font-size: 1.5em;
	padding: 0.75em 0.9em;
	outline: none;
	top: 0.5em;
	position: relative;
	border-radius: 2px;
}

div[slide="01"] input[value="Sign Up"] {
	margin: 0 auto;
	top: 10.5em;
	width: 80%;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	color: rgb(210,210,210);
	-webkit-transition: color 0.5s, box-shadow 0.1s;	
	border: 1px solid rgb(45,158,225);
}

div[slide="01"] input[value="Sign Up"]:active {
	box-shadow: inset 0 0 4px rgb(90,90,90);
}

div[slide="1"] {
	position: absolute;
	z-index: 5;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	top: 0;
}

div[slide="2"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="3"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="4"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="5"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="6"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="7"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="8"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="9"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="10"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="11"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

div[slide="12"] {
	position: absolute;
	background: rgb(240,240,240);
	height: 100%;
	width: 100%;
	z-index: 5;
	top: 0;
	display: none;
}

table {
	font-family: "Avenir";
	width: 100%;
	font-weight: 100;
	font-size: 1.5em;
	color: rgb(60,60,60);
	background: rgb(255,255,255);
	border-left: 4px solid rgb(50,163,230);
	border-collapse: collapse;
	-webkit-box-shadow: 0px 0px 2px rgba(200, 200, 200, 0.75);
	   -moz-box-shadow: 0px 0px 2px rgba(200, 200, 200, 0.75);
			box-shadow: 0px 0px 2px rgba(200, 200, 200, 0.75);
}

table th {
	text-align: left;
}

table tr {
	padding: 2%;
}

th, td {
	padding: 1%;
	border-top: 1px solid rgb(230,230,230);
}

.borderbottom td {
	border-bottom: 1px solid rgb(230,230,230);
}

td.first, th.first {
	padding: 2%;
}

table a {
	text-decoration: none;
	color: rgb(49,136,217);
}

.rink {
	display: none;
}

.makeSmall {
	width: 100%;
}

.ct {
	overflow: visible;
	border: none;
}

.post p img {
	width: 100%;
	margin-top: 0.5em;
}