// ----------------------------------------------------------------------------
// This file contains styles specific to the outer section bounds.
// ----------------------------------------------------------------------------


.bounds {
  position: relative;
  overflow: visible;
}


.bounds--pad-small {
  padding: 3rem 0;
}


.bounds--pad-medium {
  padding: 5rem 0;
}


.bounds--pad-large {
  padding: 7rem 0;
}


@media (min-width: 768px) {

  .bounds--pad-small {
    padding: 6rem 0;
  }


  .bounds--pad-medium {
    padding: 8rem 0;
  }


  .bounds--pad-large {
    padding: 10rem 0;
  }

}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}
