


body {
	font: $tsize-main $font-stack;
	margin: 0;
	padding: 0;
	background: $color-background;
	background: rgb(235,238,241);
	background: rgb(230,233,236);
}


.wrapper {
	position: relative;
	padding-top: 5em;
}


.wrapper--is-not-cached {
	padding-top: 0;
}


	.wrapper__fix {
	}


		.wrapper__content {
		}


			.constraint-container {
			}