// ----------------------------------------------------------------------------
// This file contains
// ----------------------------------------------------------------------------

.pc-event {
  padding: 2em;
  margin-bottom: 3em;
  display: block;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.125);
}


  .pc-event__text__title {
    font-family: $text-font-stack;
    font-size: 1.5em;
    line-height: (1.9em/1.5);
    font-weight: 400;
    margin: 0;
    margin-bottom: (1em/1.5);
    color: #3C4650;
    @include font-smoothing(antialiased);
  }


  .pc-event__text__description {
    font-family: $text-font-stack;
    font-size: 1.3em;
    line-height: (2.3em/1.3);
    font-weight: 400;
    margin: 0;
    margin-bottom: (2em/1.3);
    color: #828C96;
    @include font-smoothing(antialiased);
  }


@media (min-width: 768px) {

  .pc-event {
    margin-top: 4em;
    padding: 3em;
  }


  .pc-event--extra-pad {
    margin-bottom: 4em;
  }


    .pc-event__text {
      width: 100%;
    }


    .pc-event__button {
      width: 100%;
    }


    .pc-event__text__title {
      font-size: 1.8em;
      line-height: (2.2em/1.8);
      margin-bottom: (1.2em/1.8);
    }


    .pc-event__text__description {
      font-size: 1.5em;
      line-height: (2.5em/1.5);
      margin-bottom: (3em/1.5);
    }

}


@media (min-width: 992px) {

  .pc-event {
    margin-top: 6em;
  }


  .pc-event--extra-pad {
    margin-bottom: 6em;
  }


    .pc-event__text {
      float: left;
      width: calc(100% - 28em);
    }


    .pc-event__button {
      float: left;
      width: 28em;
    }


    .pc-event__text__title {
      font-size: 2.2em;
      line-height: (2.7em/2.2);
      margin-bottom: (0.5em/2.2);
    }


    .pc-event__text__description {
      font-size: 1.8em;
      line-height: (2.8em/1.8);
      margin: 0;
    }

}


@media (min-width: 1200px) {}
