// ----------------------------------------------------------------------------
// This file contains ...
// ----------------------------------------------------------------------------


* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
    display: block;
}

.cf { /* For IE 6/7 only. Include this rule to trigger hasLayout and contain floats. */
    *zoom: 1;
}



// fonts
@import "_fonts.scss"
