@media (max-width: 800px) {


		.schedule__date {
		}


		.schedule__grouping {
			padding-top: 0;
		}


			.schedule__grouping__context {
				width: 100%;
				margin-right: 0;
				float: none;
				border-bottom: none;
			}


			.schedule__grouping__game {
				width: 100%;
				float: none;
			}


				.sfeed--entity__icon {
					display: none;
				}


	.sfeed--entity {
		border-bottom: 1px solid rgba(140,144,148,0.125);
	}


		.sfeed--entity__link {
			padding: 1em;
		}


	.sfeed--game {
		background: rgb(250,250,250);
	}


	.sfeed--game--half {
		width: 100%;
		float: none;
		background: rgb(255,255,255);
	}


	.sfeed--game--half:nth-child(2n) {
		border-left: none;
	}


		.sfeed--game__link {
			padding: 0.5em 1em;
		}


		.search__results__column {
			float: left;
			width: 100%;
		}


		[data-player] {
			width: calc(100%/4);
		}


		[data-team] {
			width: calc(100%/5);
		}


		[data-goalie] {
			width: calc(100%/5);
		}


		[data-statistic-extra] {
			display: none;
		}


	.land {
		// width: 100%;
		// position: relative;
		// margin: 0 auto;
		// left: auto;
		// top: 15%;
		width: 100%;
		left: 50%;
		margin-left: -50%;
	}


		.actions {
			width: 92%;
			margin: 0 auto;
		}



}

@media (max-width: 500px) {


		[data-player] {
			display: none;
		}


		[data-team] {
			display: none;
		}


		[data-goalie] {
			display: none;
		}


		[data-rank] {
			display: block;
			width: 100%;
		}


		.entity__authorized-information--data {
			width: 100%;
		}


			.entity__tidbit {
				width: 100%;
				border-bottom: 1px solid rgba(140,144,148,0.125);
				float: none;
				padding: 0.6em 1.8em;
			}


		.entity__authorized-information--control {
			width: 50%;
		}


		.entity__authorized-information--control--third {
			width: 33.3333%;
		}


	.modal {
		width: 100%;
		top: 0;
		right: 0;
		-webkit-transform: translateX(0);
		-webkit-transform: translateY(0);
	}


	.modal--is-hidden {
		-webkit-transform: translateX(0);
		-webkit-transform: translateY(100%);
	}


			.modal__header__bearing {
				width: calc(100% - 6.6666em);
				text-align: center;
			}


			.modal__header__button--is-hidden {
				display: block;
			}



}