@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hmnf81');
  src:  url('fonts/icomoon.eot?hmnf81#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hmnf81') format('truetype'),
    url('fonts/icomoon.woff?hmnf81') format('woff'),
    url('fonts/icomoon.svg?hmnf81#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trending_up:before {
  content: "\e8e5";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-view_carousel:before {
  content: "\e8eb";
}
.icon-facebook2:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
