// ----------------------------------------------------------------------------
// This file contains ...
// ----------------------------------------------------------------------------


.hero__logo {
  display: block;
  height: 5em;
  margin-bottom: 9.5em;
}


.hero__name {
  font-family: $text-font-stack;
  font-size: 3.6em;
  line-height: (4.4em/3.6);
  font-weight: 700;
  margin: 0;
  margin-bottom: (2em/3.6);
  color: #0E70A0;
  @include font-smoothing(antialiased);
}


.hero__description {
  font-family: $text-font-stack;
  font-size: 1.5em;
  line-height: (2.5em/1.5);
  font-weight: 400;
  margin: 0;
  margin-bottom: (4em/1.5);
  color: #0E70A0;
  @include font-smoothing(antialiased);
}


@media (min-width: 768px) {

  .hero__logo {
    height: 6em;
  }


  .hero__name {
    font-size: 6em;
    line-height: (7.3em/6);
    margin-bottom: (2em/6);
  }


  .hero__description {
    font-size: 1.8em;
    line-height: (2.8em/1.8);
    margin-bottom: (4em/1.8);
  }

}


@media (min-width: 992px) {

  .hero__logo {
    height: 10em;
    margin-bottom: 9.5em;
  }


  .hero__name {
    font-size: 7.2em;
    line-height: (8.8em/7.2);
    margin-bottom: (2em/7.2);
  }


  .hero__description {
    font-size: 2.2em;
    line-height: (3.2em/2.2);
    margin-bottom: (6em/2.2);
  }

}


@media (min-width: 1200px) {}


.section-bg--hero {
  background-image: url("../../../../assets/images/background/bg--sm.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}


@media (min-width: 768px) {

  .section-bg--hero {
    background-image: url("../../../../assets/images/background/bg--sm.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
  }

}


@media (min-width: 992px) {

  .section-bg--hero {
    background-image: url("../../../../assets/images/background/bg--md.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
  }

}


@media (min-width: 1200px) {

  .section-bg--hero {
    background-image: url("../../../../assets/images/background/bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
  }

}
