// ----------------------------------------------------------------------------
// This file contains ...
// ----------------------------------------------------------------------------

.section-bg--philosophy {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: #F5F5F5;
  clip-path: polygon(0 0, 100% 0, 100% 46%, 0 54%);
}
