// ----------------------------------------------------------------------------
// This file contains ...
// ----------------------------------------------------------------------------

.section--what-we-do {
  background: #0E70A0;
}


.section--what-we-do__text {
  padding-top: 4em;
  padding-bottom: 4em;
}


@media (min-width: 768px) {

  .section--what-we-do__text {
    padding-top: 20.6em;
  }

}


@media (min-width: 992px) {

  .section--what-we-do__text {
    padding-top: 31.3em;
  }

}


@media (min-width: 1200px) {

  .section--what-we-do__text {
    padding-top: 26.8em;
  }

}
